body {
    background-color: #b4f3ff;
}
img {
    display: block;
    margin-top: 90px;
    margin-bottom: 8%;
    margin-right: auto;
    margin-left: auto;
    height: 300px;
    
}
a {
    color: #000000;
    text-decoration: none;
    padding-top: 14px;
    padding-bottom: 14px;
    width: 35%;
    text-align: center;
    display: block;
    margin: 70px auto;
    background-color:#fff;
    border-radius: 10px;
    box-shadow: 3px 3px 5px grey;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    transition: 0.35s
}
a:hover{
    color:#fff;
    background-color: #1ddadd;
    transition: 0.35s  
}