{% load static %}
<html>
<head>
  <title>Kontranto</title>
  <link rel="stylesheet" href="{% static "kontranto_igra/chessboard.css" %}">

  <style>
    .gamedata{
      position:absolute;
      top:7%;
      transform:translate(0,-50%)
    }
  </style>
</head>

<body>

<div id="submit_move_widget" style="display: none">
  <button id="submit_move_btn" value="">Potvrdi potez</button>
</div>

<div>
  Trenutni state: <br>
  <span id="game_state"></span> <br>
  Game_id: {{game_id}} <br>
  Igrač: {{my_id}} <br>
  Boja: <span id="player_color"></span> <br>
  Suparnik: <span id="opponent_name"></span> <br>
  Bodovi bijelog: <span id="white_player_score"></span> <br>
  Bodovi crnog: <span id="black_player_score"></span> <br>
</div>

<div id="color_choice_widget" style="display: none">
  <p> Odabir boje:
    <button id="color_choice_triangle" value="triangle">Trokut</button>
    <button id="color_choice_circle" value="circle">Krug</button>
  </p>
</div>

<div id="error_message_widget"></div>
<div id="info_message_widget"></div>
<div id="board", style="width: 46.6%; box-shadow: 3px 3px 5px grey; display: block; margin: auto;"></div>

<script src="{% static "kontranto_igra/jquery-3.4.1.min.js" %}"></script>
<script src="{% static "kontranto_igra/chessboard.js" %}"></script>
<script src="{% static "kontranto_igra/kontranto.js" %}"></script>
<script>
//$(document).ready(function() {
  var kontranto = new Kontranto(
    '{{ game_id }}',
    '{{ player_id }}',
    '{{ game_state }}',
    '{{ csrf }}',
    '{% static "kontranto_igra/images/chesspieces/wikipedia" %}/{piece}.png');
//});
</script>
</body>
</html>
