{% load static %}
<html>
<head>
    <title>Kontranto</title>
    <link rel="stylesheet" href="{% static "kontranto_igra/chessboard.css" %}">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap" rel="stylesheet">

    <style>
    .gamedata{
      position:absolute;
      top:7%;
      transform:translate(0,-50%)
    }
    </style>
</head>

<body>

<div>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf }}"/>
    <a id="button1" class = "okvir" name="Potvrdi potez" type="submit">Potvrdi potez</a>
</div>

<div class="gamedata">
  Trenutni state: <br>
  <span id="game_state"></span> <br>
  Game_id: {{game_id}} <br>
  Igrač: {{my_id}} <br>
  Boja: <span id="player_color"></span> <br>
  Suparnik: <span id="opponent_name"></span> <br>
  Bodovi bijelog: <span id="white_player_score"></span> <br>
  Bodovi crnog: <span id="black_player_score"></span> <br>
</div>

<div id="color_choice_widget" style="display: none">
  <p> Odabir boje:
    <button id="color_choice_triangle" value="triangle">Trokut</button>
    <button id="color_choice_circle" value="circle">Krug</button>
  </p>
</div>

<div id="error_message_widget"></div>
<div id="board", style="width: 46.6%; box-shadow: 3px 3px 5px grey; display: block; margin: auto;"></div>

<script src="{% static "kontranto_igra/jquery-3.4.1.min.js" %}"></script>
<script src="{% static "kontranto_igra/chessboard.js" %}"></script>
<script>

  /**
   * Represents a book.
   * @constructor
   * @param {string} game_id - ID of the current game.
   * @param {string} player_id - TODO remove
   * @param {string} game_state - The state of the game at the loading time.
   * @param {string} csrf_token - CSRF token to include in the calls to the backend.
   * @param {string} chessboard_theme - Chessboard.js piece theme path.
   */
  function Kontranto(game_id, player_id, game_state, csrf_token, chessboard_theme) {
    // TODO remove
    this.player_id = player_id;

    // The current game ID
    this.game_id = game_id;

    // The current game state
    this.game_state = game_state;

    // CSRF token required for communicating with the backend
    this.csrf_token = csrf_token;

    // Player's color
    this.player_color = null;

    // The opponent TODO: replace with the name
    this.opponent_player_id = null;

    // The white player score
    this.white_player_score = 0;

    // The black player score
    this.black_player_score = 0;

    // ID of the game loop timer
    this.timer_id = null;

    // How long to wait between two game loop executions (in miliseconds).
    this.game_loop_period_msec = 5000;

    // Figure placement and fields marking. Legend: TODO
    this.board_data = [];

    // chessboard.js chessboard for the game
    this.chessboard = null;

    // Attaches the click handler on the color choice buttons
    this.attachColorChoiceHandler = function(button) {
      button.addEventListener('click', event => {
        // TODO notification
        // TODO call
        document.querySelector("#color_choice_widget").style.display = 'none';
      });
    };

    // Showes the error message to the user.
    this.printError = function(error_message) {
      // TODO: add expiration
      document.querySelector("#error_message_widget").textContent = error_message;
    };

    // Updates the game according to the new state.
    this.onGameStateChange = function(new_state) {
      if (new_state === this.game_state) return;

      this.game_state = new_state;

      // TODO color choice -- make buttons visible
      // TODO the rest
      document.querySelector("#game_state").textContent = new_state;
      // TODO clearInterval(this.timer_id) iff timer_id != null
      // TODO update color this.player_color_widget = document.querySelector("#player_color");
      // TODO this.opponent_name_widget = document.querySelector("#opponent_name");
    };

    // Renders the game data to the player (score, etc.)
    this.updateGameStats = function(board_data, current_player_color, opponent_player_id,
        white_player_score, black_player_score) {
      this.player_color = player_color;
      this.opponent_player_id = opponent_player_id;
      this.white_player_score = white_player_score;
      this.black_player_score = black_player_score;

      document.querySelector("#player_color").textContent = this.player_color;
      document.querySelector("#opponent_name").textContent = this.opponent_player_id;
      document.querySelector("#white_player_score").textContent = this.white_player_score;
      document.querySelector("#black_player_score").textContent = this.black_player_score;

      this.board_data = board_data
      // TODO render the board if changed
    };

    // Executes the game loop.
    this.gameLoop = function() {
      $.ajax({
        type: "POST",
        url: "/game_state/" + this.game_id + "/" + this.player_id,
        contentType: "application/json; charset=utf-8",
        headers: {"X-CSRFTOKEN": this.csrf_token},
        dataType: "json",
        processData: false,
        success: function(data) {
          this.onGameStateChange(data.game_state);
          this.updateGameStats(data.board, data.current_player_color,
             data.opponent_player_id, data.white_player_score, data.black_player_score);
          if (data.response_status !== "OK") {
            this.printError(data.error_message);
          }
        },
        error: function() {
          this.printError("Greška pri komunikaciji sa serverom!");
          console.log("Server error");
        }
      });
    };

    // Handles dragging of the chessboard pieces
    this.onPieceDragStart = function(source, piece, position, orientation) {
      if ((orientation === 'white' && piece.search(/^w/) === -1)
          || (orientation === 'black' && piece.search(/^b/) === -1)) {
        return false
      }
    };

    // Initialize the game
    this.onGameStateChange(this.game_state);

    this.attachColorChoiceHandler(document.querySelector("#color_choice_triangle"));
    this.attachColorChoiceHandler(document.querySelector("#color_choice_circle"));

    let chessboard_config = {
      numRows: 4,
      numColumns: 4,
      draggable: true,
      dropOffBoard: 'snapback',
      onDragStart: this.onPieceDragStart,
      sparePieces: true,
      pieceTheme: chessboard_theme,
      position: { }
    }
    this.chessboard = Chessboard('board', chessboard_config)
    $(window).resize(this.chessboard.resize)

    // Start the game loop
    this.timer_id = setInterval(this.gameLoop, this.game_loop_period_msec);
  }


 $(document).ready(function() {
   var kontranto = new Kontranto(
     '{{ game_id }}',
     '{{ player_id }}',
     '{{ game_state }}',
     '{{ csrf }}',
     '{% static "kontranto_igra/images/chesspieces/wikipedia" %}/{piece}.png');
 }
</script>
</body>
</html>
