{% load static %}
<hmtl>
    <head>
        <title>Kontranto</title>
        <link rel="stylesheet" href="{% static "kontranto_igra/stilpra.css" %}">
        <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap" rel="stylesheet">
    <body>
        <p class="naslov">PRAVILA IGRE</p>
        <p class="autor">Autor: Siniša Matić</p>
        <p class="podnaslov">
            PLOČA, FIGURE I BOJE <br> <br>
        </p>
        <p class="text">
            1.  Igrači igraju jedan protiv drugoga na kvadratnoj ploči koju čine 16 polja. <br>
            2. Svaki igrač raspolaže s dvije figure, krugom i trokutom. Jedan igrač igra bijelim a drugi crnim figurama. <br>
            3. Igraču koji kreira igru se nasumično dodjeljuje boja (crna ili bijela), a igrač koji se pridružuje igri dobiva boju suprotnu od boje prvog igrača. <br> <br>
        </p>
        <p class="podnaslov">
            KORACI I POTEZI <br> <br>
        </p>
        <p class="text">
            4. Partija se odigrava u koracima. Svaki korak sastoji se od poteza pojedinih igrača. Igrači odlučuju o svom potezu bez znanja protivnika. Tek kada igrači svojim potezima korak u cijelosti odrede,  protivnikovi se potezi igraču na ploči otkrivaju. <br>
            5. U prvom koraku igrači slobodno biraju na koja će različita polja ploče postaviti svoje figure. Potom u svakom sljedećem koraku oni svoje figure smiju pomicati za jedno polje u ma kojem smjeru (ravno ili dijagonalno) na polje koje nije poništeno. Figure smiju i ostati na svom polju. Dakle, igrač smije po volji pomicati obje svoje figure, samo jednu ili nijednu. Figure iste boje pritom ne smiju zauzeti isto polje. <br> <br>
        </p>
        <p class="podnaslov">
            SUDARI I BODOVI <br> <br>
        </p>
        <p class="text">
            6. U koraku se (nije isključeno da to bude već prvi) može dogoditi sudar u kojem se figure različite boje nađu na jednom polju.  Ako se sudare figure istog oblika, igrač koji igra bijelim figurama dobiva 1 bod. Ako se sudare figure različitog oblika, bod dobiva igrač s crnim figurama. U koraku nakon sudara figure moraju napustiti polje sudara, koje se ujedno poništava (bojom igrača koji je tu dobio bod). Na to polje igrači više ne mogu postavljati svoje figure. <br>
        </p>
        <p class="podnaslov">
            ZAVRŠETAK REDOVNE PARTIJE I PENALI <br> <br>
        </p>
        <p class="text">
            7. Partija završava u nekom od sljedeća dva slučaja: <br>
            a) kad jedan igrač skupi 9 bodova (tada taj rezultat postaje konačan), <br>
            b) predajom nekog igrača (tada se bilježi trenutni rezultat i pobjeda dodjeljuje protivniku igrača koji je predao) <br>
        </p>
	<a href="#" class="pov_na_vrh">Povratak na vrh</a>
    </body>
</html>
